/* <!-- Author: Godwin C. Ahua -->
    <!-- Email: godwinchua@gmail.com -->
    <!-- Role:  Front End Developer --> */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&family=Roboto:ital,wght@0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', 'Red Hat Display' sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #eee;
}

.col-md-4 {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: wrap;
    border-radius: 30px 30px 30px 30px;
    padding-top: 60px;
}

/* card title start */
.card-title h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 14;
    font-family: poppins;
    color: black;
}
/* card title end */


/* card content */
.card-content {
    padding: 20px 25px 20px 25px;
}
/* card content end */


.card-content p {
    color: lightslategrey;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Red hat display';
}


/* card start */
.card {
    width: 325px;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}
/* card end */

/* card image start */
.card-image {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
/* card image end */


/* card payment button */
.btn-primary {
    margin-bottom: 30px;
    background-color:  #3829e0;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 8px 8px -4px #7280a7;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #fff;
    color:#3829e0;
}



/* cancel order */
.cancel-order {
    margin-bottom: 30px;
}

.cancel-order p {
    color: #7280a7;
    font-weight: 700;
    text-decoration: none;
}

.cancel-order p a {
    text-decoration: none;
    color: #7280a7;
}


/* order details */
.order-detail {
    background: #f2f2f2;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.order-detail img {
    width: 30px;
}

.order-detail p.annual {
    margin-left: -25px;
    color: black;
    font-weight: bold;
}

.order-detail span {
    color: #666666;
    font-size: 16px;
}